.home-screen{
    /* background-color: aqua; */
    width: 375px;

    position: relative;
}

/* ------------- Cabeçalho fixo ------------- */

.home-screen .header{
    width: 375px;
    height: 80px;

    position: fixed;
    top: 0px;
    z-index: 1;

    display: flex;

    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header-logo{
    width: 75px;
    height: 53px;

    position: absolute;
    left: 22px;
    top: 16px;
}

.participants{
    width: 42px;

    position: absolute;
    right: 24.03px;
    top: 25.03px;
}

/* ------------- Compartimento do chat ------------- */

.spacer{
    /* background-color: tomato; */
    background-color: #f3f3f3;
    height: 90px;
}

.container-chat{
    width: 375px;
    background-color: #f3f3f3;

    position: absolute;
    top: 85px;
}

/* .message-margin{
    margin-top: 4px;
} */

.message-box{
    padding: 13px 8px;
    margin-top: 4px;

    border-radius: 2px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.container-chat span{
    color: #aaaaaa;
}

.container-chat strong{
    font-weight: 700;
}

.status-message{
    background-color: #dcdcdc;
}

.normal-message{
    background-color: #ffffff;
}

.private-message{
    background-color: #ffdede;
}

/* ------------- Rodapé fixo ------------- */

.footer{
    width: 375px;
    height: 80px;

    position: fixed;
    bottom: 0px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.box-footer{
    /* background-color: aqua; */
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer input{
    width: 280px;
    height: 80px;

    border: none;
}

.footer input::placeholder{
    /* background-color: hotpink; */

    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

input:focus{
    outline: 0;
}

.footer button{
    /* width: 26px; */
    border: none;
    background-color: #fff;
}

.footer ion-icon{
    /* background-color: orange; */
    font-size: 26px;
    color: black;
}