.home-screen{
    width: 375px;
    height: 667px;

    position: relative;
    /* display: none; */

    background-color: #f3f3f3;
}

/* ------------- Cabeçalho fixo ------------- */

.home-screen .header{
    width: 375px;
    height: 80px;

    position: fixed;
    top: 0px;
    z-index: 1;

    display: flex;

    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header-logo{
    width: 75px;
    height: 53px;

    position: absolute;
    left: 22px;
    top: 16px;
}

.participants{
    width: 42px;

    position: absolute;
    right: 24.03px;
    top: 25.03px;
}

/* ------------- Compartimento do chat ------------- */

.container-chat{
    width: 300px;
    /* background-color: limegreen; */
    /* height: 200px; */

    position: absolute;
    top: 80px;
}

/* ------------- Rodapé fixo ------------- */

.footer{
    width: 375px;
    height: 80px;

    position: fixed;
    bottom: 0px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.box-footer{
    /* background-color: aqua; */
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer input{
    width: 310px;
    height: 80px;

    border: none;
}

.footer input::placeholder{
    /* background-color: hotpink; */

    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

input:focus{
    outline: 0;
}

.footer ion-icon{
    /* background-color: orange; */
    font-size: 26px;
    color: black;
}