body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------------------------- */



::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: rgb(138, 138, 138);
    border-radius: 10px;
}